<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🎹</text></svg>"></link>
    <title>SheetSecurity</title>
    <link rel="stylesheet" href="/static/pico.min.css">
    <link rel="stylesheet" href="/static/sheetsecurity.css">
    <script src="static/js/app.js"></script>
  </head>
  <body>
    <h1>Server Controls</h1>
<h2>Logs - INFO (or above)</h2>
<div class="pre-text">
  <pre>
{{info_logs}}
    </pre>
</div>
    </body>
  </body>
</html>